USE [AINData]
GO
/****** Object:  Table [dbo].[IV_0250]    Script Date: 25/Mar/2026 5:03:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IV_0250](
	[Loct] [nvarchar](30) NOT NULL,
	[PCode] [nvarchar](30) NOT NULL,
	[Batch] [nvarchar](30) NOT NULL,
	[Run] [nvarchar](20) NOT NULL,
	[Pallet] [nvarchar](10) NOT NULL,
	[PGroup] [nvarchar](20) NULL,
	[Status] [nvarchar](10) NULL,
	[RefNo] [nvarchar](20) NULL,
	[PName] [nvarchar](200) NULL,
	[Unit] [nvarchar](20) NULL,
	[OnHand] [float] NULL,
	[AdjDt] [datetime] NULL,
	[OpenQty] [float] NULL,
	[InputQTy] [float] NULL,
	[OutputQty] [float] NULL,
	[Alloc] [int] NULL,
	[MFGDate] [datetime] NULL,
	[EXPDate] [datetime] NULL,
	[AddUser] [nvarchar](50) NULL,
	[AddDate] [datetime] NULL,
	[AddTime] [datetime] NULL,
	[EditUser] [nvarchar](50) NULL,
	[EditDate] [datetime] NULL,
	[EditTime] [datetime] NULL,
	[ORack] [nchar](10) NULL,
	[OQty] [float] NULL,
	[LockStatus] [nvarchar](10) NULL,
	[LockUser] [nvarchar](50) NULL,
	[LockDate] [datetime] NULL,
	[LockTime] [datetime] NULL,
 CONSTRAINT [PK_IV_0250] PRIMARY KEY CLUSTERED 
(
	[Loct] ASC,
	[PCode] ASC,
	[Batch] ASC,
	[Run] ASC,
	[Pallet] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PD_0800]    Script Date: 25/Mar/2026 5:03:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PD_0800](
	[Batch] [nvarchar](30) NOT NULL,
	[Run] [nvarchar](2) NOT NULL,
	[PCode] [nvarchar](30) NOT NULL,
	[PName] [nvarchar](200) NULL,
	[PGroup] [nvarchar](30) NULL,
	[BSize] [int] NULL,
	[THOut] [int] NULL,
	[Unit] [nvarchar](10) NULL,
	[SLife] [int] NULL,
	[MFGDt] [datetime] NULL,
	[EXPDt] [datetime] NULL,
	[Status] [nvarchar](10) NULL,
	[Remark] [nvarchar](150) NULL,
	[Remark1] [nvarchar](150) NULL,
	[Special] [ntext] NULL,
	[Disp_Dt] [datetime] NULL,
	[Disp_Out] [int] NULL,
	[Disp_RJ] [int] NULL,
	[Disp_Spl] [int] NULL,
	[Fill_Dt] [datetime] NULL,
	[Fill_In] [int] NULL,
	[Fill_Out] [int] NULL,
	[Fill_RJ] [int] NULL,
	[Fill_Spl] [int] NULL,
	[AC_Dt] [datetime] NULL,
	[AC_In] [int] NULL,
	[AC_Out] [int] NULL,
	[AC_RJ] [int] NULL,
	[AC_Spl] [int] NULL,
	[Pack_Dt] [datetime] NULL,
	[Pack_In] [int] NULL,
	[Pack_Out] [int] NULL,
	[Pack_RJ] [int] NULL,
	[FP_Spl] [int] NULL,
	[OGQty] [int] NULL,
	[QS] [nvarchar](30) NULL,
	[QSDate] [datetime] NULL,
	[TQSDate] [datetime] NULL,
	[QSReceive] [datetime] NULL,
	[QSTest] [datetime] NULL,
	[QSPlan] [datetime] NULL,
	[QSPlan2] [datetime] NULL,
	[Plt_Dt] [datetime] NULL,
	[Plt_Out] [int] NULL,
	[TS_Dt] [datetime] NULL,
	[TS_Out] [int] NULL,
	[Transit] [int] NULL,
	[RIn_Dt] [datetime] NULL,
	[Rack_In] [int] NULL,
	[ROut_Dt] [datetime] NULL,
	[Rack_Out] [int] NULL,
	[BPrepare] [int] NULL,
	[LMSDA] [int] NULL,
	[BReturn] [int] NULL,
	[SORack] [int] NULL,
	[Balance] [int] NULL,
	[SDate] [datetime] NULL,
	[EDate] [datetime] NULL,
	[Fill_BF] [int] NULL,
	[AC_BF] [int] NULL,
	[Pack_BF] [int] NULL,
	[Note_TST1] [ntext] NULL,
	[Note_TST2] [ntext] NULL,
	[RePack] [int] NULL,
	[Recheck1] [int] NULL,
	[Recheck2] [int] NULL,
	[Kulim] [int] NULL,
	[Branch] [nvarchar](50) NULL,
	[QSDelayDate] [datetime] NULL,
	[QSDelayNote] [nvarchar](150) NULL,
	[EditUser] [nvarchar](50) NULL,
	[EditDate] [datetime] NULL,
	[EditTime] [datetime] NULL,
	[LatestTrx] [nvarchar](50) NULL,
	[LatestTrxDate] [datetime] NULL,
	[LatestTrxTime] [datetime] NULL,
	[VarQty] [int] NULL,
	[TIN] [int] NULL,
	[TOUT] [int] NULL,
	[Potency] [float] NULL,
	[Reprocess] [numeric](18, 0) NULL,
 CONSTRAINT [PK_PD_0800] PRIMARY KEY CLUSTERED 
(
	[Batch] ASC,
	[Run] ASC,
	[PCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TA_LOC0300]    Script Date: 25/Mar/2026 5:03:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TA_LOC0300](
	[PCODE] [nvarchar](30) NOT NULL,
	[PNAME] [nvarchar](200) NULL,
	[PGROUP] [nvarchar](20) NULL,
	[DANO] [nvarchar](20) NOT NULL,
	[CUST] [nvarchar](100) NULL,
	[LORRY] [nvarchar](20) NULL,
	[BATCH] [nvarchar](20) NOT NULL,
	[RUN] [nvarchar](5) NOT NULL,
	[PALLET] [nvarchar](10) NOT NULL,
	[RACK] [nvarchar](10) NULL,
	[QTY] [float] NULL,
	[UNIT] [nvarchar](10) NULL,
	[ADDDATE] [datetime] NULL,
	[ADDTIME] [datetime] NULL,
	[ADDUSER] [nvarchar](50) NULL,
	[EDITDATE] [datetime] NULL,
	[EDITTIME] [datetime] NULL,
	[EDITUSER] [nvarchar](50) NULL,
	[WSID] [nchar](10) NULL,
 CONSTRAINT [PK_TA_LOC0300] PRIMARY KEY CLUSTERED 
(
	[PCODE] ASC,
	[DANO] ASC,
	[BATCH] ASC,
	[RUN] ASC,
	[PALLET] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TA_LOC0400]    Script Date: 25/Mar/2026 5:03:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TA_LOC0400](
	[SNo] [nvarchar](20) NOT NULL,
	[Rack] [nvarchar](10) NOT NULL,
	[NRack] [nvarchar](10) NOT NULL,
	[BN] [nvarchar](20) NULL,
	[Run] [nvarchar](5) NULL,
	[PCode] [nvarchar](30) NULL,
	[PName] [nvarchar](200) NULL,
	[PGroup] [nvarchar](20) NULL,
	[PltNo] [nvarchar](10) NULL,
	[Qty] [float] NULL,
	[Unit] [nvarchar](15) NULL,
	[Remark] [ntext] NULL,
	[AddUser] [nvarchar](50) NULL,
	[AddDate] [datetime] NULL,
	[AddTime] [datetime] NULL,
	[EditUser] [nvarchar](50) NULL,
	[EditDate] [datetime] NULL,
	[EditTime] [datetime] NULL,
	[WSID] [nvarchar](50) NULL,
 CONSTRAINT [PK_TA_LOC0400] PRIMARY KEY CLUSTERED 
(
	[SNo] ASC,
	[Rack] ASC,
	[NRack] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TA_LOC0600]    Script Date: 25/Mar/2026 5:03:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TA_LOC0600](
	[Pallet] [nvarchar](10) NOT NULL,
	[Rack] [nvarchar](10) NOT NULL,
	[PCode] [nvarchar](30) NULL,
	[PName] [nvarchar](150) NULL,
	[PGroup] [nvarchar](15) NULL,
	[Batch] [nvarchar](20) NOT NULL,
	[Run] [nvarchar](5) NOT NULL,
	[Qty] [float] NULL,
	[Unit] [nvarchar](10) NULL,
	[Ref] [nvarchar](1) NULL,
	[AddDate] [datetime] NULL,
	[AddTime] [datetime] NULL,
	[AddUser] [nvarchar](50) NULL,
	[EditDate] [datetime] NULL,
	[EditTime] [datetime] NULL,
	[EditUser] [nvarchar](50) NULL,
	[Notes] [nvarchar](50) NULL,
	[WSID] [nchar](10) NULL,
	[TNo] [nvarchar](30) NULL,
 CONSTRAINT [PK_TA_LOC0600] PRIMARY KEY CLUSTERED 
(
	[Pallet] ASC,
	[Rack] ASC,
	[Batch] ASC,
	[Run] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TA_PLL001]    Script Date: 25/Mar/2026 5:03:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TA_PLL001](
	[PltNo] [nvarchar](10) NOT NULL,
	[CtnNo] [nvarchar](20) NOT NULL,
	[Run] [nvarchar](1) NOT NULL,
	[Batch] [nvarchar](20) NULL,
	[Qty] [numeric](18, 0) NULL,
	[AddUser] [nvarchar](50) NULL,
	[AddDate] [datetime] NULL,
	[AddTime] [datetime] NULL,
	[EditUser] [nvarchar](50) NULL,
	[EditDate] [datetime] NULL,
	[EditTime] [datetime] NULL,
	[Status] [char](10) NULL,
	[PCode] [nvarchar](30) NULL,
	[WGroup] [nvarchar](10) NULL,
	[Cate] [nvarchar](20) NULL,
 CONSTRAINT [PK_TA_PLL001] PRIMARY KEY CLUSTERED 
(
	[PltNo] ASC,
	[CtnNo] ASC,
	[Run] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TA_PLT001]    Script Date: 25/Mar/2026 5:03:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TA_PLT001](
	[PltNo] [nvarchar](8) NOT NULL,
	[Batch] [nvarchar](20) NOT NULL,
	[PCode] [nvarchar](30) NULL,
	[PName] [nvarchar](200) NULL,
	[PGroup] [nvarchar](30) NULL,
	[Type] [nvarchar](10) NULL,
	[Cycle] [nvarchar](50) NULL,
	[TSNo] [int] NULL,
	[ISDate] [datetime] NULL,
	[FullQty] [int] NULL,
	[LsQty] [int] NULL,
	[IssBy] [nvarchar](50) NULL,
	[BCBatch] [nvarchar](50) NULL,
	[Unit] [nvarchar](50) NULL,
	[Remarks] [ntext] NULL,
	[PackDt] [datetime] NULL,
	[Status] [nvarchar](1) NULL,
	[Cate] [nvarchar](20) NULL,
	[MFGDate] [datetime] NULL,
	[PType] [nvarchar](20) NULL,
	[Class] [nvarchar](20) NULL,
	[PickBy] [nvarchar](50) NULL,
	[TStatus] [nvarchar](50) NULL,
	[AddUser] [nvarchar](50) NULL,
	[AddDate] [datetime] NULL,
	[AddTime] [datetime] NULL,
	[RecUser] [nvarchar](50) NULL,
	[RecDate] [datetime] NULL,
	[RecTime] [datetime] NULL,
	[Category] [nvarchar](50) NULL,
	[QS] [nvarchar](5) NULL,
	[RPallet] [nchar](10) NULL,
	[WGroup] [nvarchar](10) NULL,
	[TNo] [nvarchar](20) NULL,
	[EditUser] [nvarchar](50) NULL,
	[EditDate] [datetime] NULL,
	[EditTime] [datetime] NULL,
 CONSTRAINT [PK_TA_PLT001] PRIMARY KEY CLUSTERED 
(
	[PltNo] ASC,
	[Batch] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TA_PLT002]    Script Date: 25/Mar/2026 5:03:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TA_PLT002](
	[TSNo] [nvarchar](12) NOT NULL,
	[Pallet] [nvarchar](10) NOT NULL,
	[FromLoct] [nvarchar](30) NULL,
	[ToLoct] [nvarchar](20) NULL,
	[Batch] [nvarchar](20) NULL,
	[Run] [nvarchar](5) NULL,
	[PName] [nvarchar](200) NULL,
	[FQty] [float] NULL,
	[LQty] [float] NULL,
	[Unit] [nvarchar](10) NULL,
	[Remarks] [ntext] NULL,
	[Status] [nvarchar](1) NULL,
	[PIC] [nvarchar](50) NULL,
	[PickBy] [nvarchar](50) NULL,
	[TStatus] [nvarchar](50) NULL,
	[TNotes] [ntext] NULL,
	[AddUser] [nvarchar](50) NULL,
	[AddDate] [datetime] NULL,
	[AddTime] [datetime] NULL,
	[RecUser] [nvarchar](50) NULL,
	[RecDate] [datetime] NULL,
	[RecTime] [datetime] NULL,
	[Category] [nvarchar](30) NULL,
 CONSTRAINT [PK_TA_PLT002] PRIMARY KEY CLUSTERED 
(
	[TSNo] ASC,
	[Pallet] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TA_PLT003]    Script Date: 25/Mar/2026 5:03:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TA_PLT003](
	[BinCardNo] [nchar](8) NULL,
	[PltNo] [nvarchar](8) NOT NULL,
	[Batch] [nvarchar](50) NULL,
	[PCode] [nvarchar](30) NULL,
	[PName] [nvarchar](100) NULL,
	[PNote] [nvarchar](100) NULL,
	[PGroup] [nvarchar](20) NULL,
	[Type] [nvarchar](10) NULL,
	[Cycle] [nvarchar](50) NULL,
	[ISDate] [datetime] NULL,
	[FullQty] [int] NULL,
	[LsQty] [int] NULL,
	[Actual] [int] NULL,
	[IssBy] [nvarchar](30) NULL,
	[BCBatch] [nvarchar](50) NULL,
	[Unit] [nvarchar](50) NULL,
	[Remarks] [ntext] NULL,
	[PackDt] [datetime] NULL,
	[Status] [nvarchar](1) NULL,
	[AddUser] [nvarchar](50) NULL,
	[AddDate] [datetime] NULL,
	[AddTime] [datetime] NULL,
	[PrintBy] [nvarchar](50) NULL,
	[PrintDate] [datetime] NULL,
	[PrintTime] [datetime] NULL,
	[PrintSeq] [real] NULL,
	[QS] [nvarchar](5) NULL,
 CONSTRAINT [PK_TA_PLT003] PRIMARY KEY CLUSTERED 
(
	[PltNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TA_STK001]    Script Date: 25/Mar/2026 5:03:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TA_STK001](
	[PMonth] [int] NOT NULL,
	[PYear] [int] NOT NULL,
	[Pallet] [nchar](10) NOT NULL,
	[PCode] [nvarchar](50) NOT NULL,
	[Batch] [nchar](10) NOT NULL,
	[Run] [char](5) NOT NULL,
	[Rack] [nchar](10) NULL,
	[Qty] [numeric](18, 0) NULL,
	[AddUser] [nvarchar](50) NULL,
	[AddDate] [datetime] NULL,
	[AddTime] [datetime] NULL,
	[EditUser] [nvarchar](50) NULL,
	[EditDate] [datetime] NULL,
	[EditTime] [datetime] NULL,
	[OQty] [numeric](18, 0) NULL,
	[ORack] [nvarchar](10) NULL,
	[WSID] [nvarchar](20) NULL,
 CONSTRAINT [PK_TA_STK001] PRIMARY KEY CLUSTERED 
(
	[PMonth] ASC,
	[PYear] ASC,
	[Pallet] ASC,
	[PCode] ASC,
	[Batch] ASC,
	[Run] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[IV_0250] ADD  CONSTRAINT [DF_IV_0250_OpenQty]  DEFAULT ((0)) FOR [OpenQty]
GO
ALTER TABLE [dbo].[PD_0800] ADD  CONSTRAINT [DF_PD_0800_Plt_Out]  DEFAULT ((0)) FOR [Plt_Out]
GO
ALTER TABLE [dbo].[PD_0800] ADD  CONSTRAINT [DF_PD_0800_TS_Out]  DEFAULT ((0)) FOR [TS_Out]
GO
ALTER TABLE [dbo].[PD_0800] ADD  CONSTRAINT [DF_PD_0800_Transit]  DEFAULT ((0)) FOR [Transit]
GO
ALTER TABLE [dbo].[PD_0800] ADD  CONSTRAINT [DF_PD_0800_Rack_In]  DEFAULT ((0)) FOR [Rack_In]
GO
ALTER TABLE [dbo].[PD_0800] ADD  CONSTRAINT [DF_PD_0800_Rack_Out]  DEFAULT ((0)) FOR [Rack_Out]
GO
ALTER TABLE [dbo].[PD_0800] ADD  CONSTRAINT [DF_PD_0800_BPrepare]  DEFAULT ((0)) FOR [BPrepare]
GO
ALTER TABLE [dbo].[PD_0800] ADD  CONSTRAINT [DF_PD_0800_LMSDA]  DEFAULT ((0)) FOR [LMSDA]
GO
ALTER TABLE [dbo].[PD_0800] ADD  CONSTRAINT [DF_PD_0800_BReturn]  DEFAULT ((0)) FOR [BReturn]
GO
ALTER TABLE [dbo].[PD_0800] ADD  CONSTRAINT [DF_PD_0800_SORack]  DEFAULT ((0)) FOR [SORack]
GO
ALTER TABLE [dbo].[PD_0800] ADD  CONSTRAINT [DF_PD_0800_Balance]  DEFAULT ((0)) FOR [Balance]
GO
ALTER TABLE [dbo].[PD_0800] ADD  CONSTRAINT [DF_PD_0800_Fill_BF]  DEFAULT ((0)) FOR [Fill_BF]
GO
ALTER TABLE [dbo].[PD_0800] ADD  CONSTRAINT [DF_PD_0800_AC_BF]  DEFAULT ((0)) FOR [AC_BF]
GO
ALTER TABLE [dbo].[PD_0800] ADD  CONSTRAINT [DF_PD_0800_Pack_BF]  DEFAULT ((0)) FOR [Pack_BF]
GO
ALTER TABLE [dbo].[PD_0800] ADD  CONSTRAINT [DF_PD_0800_RePack]  DEFAULT ((0)) FOR [RePack]
GO
